@import "tailwindcss";

@theme {
  --font-display: "Outfit", sans-serif;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #050505;
  color: #f1f5f9;
  overflow-x: hidden;
}

/* Custom keyframes for infinite marquee */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}
